[submodule "site-lisp/python-docstring-mode"]
	path = site-lisp/python-docstring-mode
	url = https://github.com/glyph/python-docstring-mode.git
[submodule "site-lisp/retris"]
	path = site-lisp/retris
	url = https://github.com/wasamasa/retris.git
[submodule "emacs-rotate"]
	path = site-lisp/emacs-rotate
	url = https://github.com/daichirata/emacs-rotate.git
[submodule "org-gca"]
	path = site-lisp/org-gcal
	url = https://github.com/kidd/org-gcal.el.git
