history
network-security.data
url/
.org-id-locations
network-security.data
request/
auto-save-list/
bookmarks
.cache/
*.html
__pycache__/
elpy/
*.gpg
org-gcal/
persist/
elpa/
eshell/
.dap-breakpoints
.lsp-session-v1
eclipse.jdt.ls/
image-dired/
recentf
workspace/
transient/