[submodule "site-lisp/python-docstring-mode"]
	path = site-lisp/python-docstring-mode
	url = https://github.com/glyph/python-docstring-mode.git
[submodule "site-lisp/retris"]
	path = site-lisp/retris
	url = https://github.com/wasamasa/retris.git
[submodule "emacs-rotate"]
	path = site-lisp/emacs-rotate
	url = https://github.com/daichirata/emacs-rotate.git
[submodule "site-lisp/darkroom"]
	path = site-lisp/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "site-lisp/monokai-emacs"]
	path = site-lisp/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
